body {
  width: 300px;
  border: 1px solid rgba(230, 230, 230, 0.9);
  padding: 10px;
  box-shadow: 6px 7px 0px 0px rgba(219,219,219,0.46);
}

h3 {
  padding-bottom: 20px;
  padding-top: 10px;
  margin: auto;
}

img {
  width: 300px;
  padding-bottom: 10px;
}

.italic {
  font-style: italic;
}

span {
  font-weight: bold;
  font-style: normal;
}

#content {
  border: 2px solid rgba(230, 230, 230, 0.5);
  padding: 10px;
  font-size: small;
}

ul {
  list-style: none;
  padding-left: 0;
}
